@import url('https://fonts.googleapis.com/css?family=JetBrains Mono');

html {
  &[data-theme='Light Theme'] {
    background-color: #fdf6e3;
    color: #333;
    input {
      color: #333;
    }
  }
  &[data-theme='Dark Theme'] {
    background-color: #000;
    color: #33ff33;
    input {
      color: #33ff33;
    }
  }
}

.terminal-container {
  margin-top: -25px;
  width: 100%;

  .terminal-input {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-top: 20px;
    .prompt {
      white-space: nowrap;
    }

    input {
      flex-grow: 1;
      margin-left: 0.5rem;
      width: 0;
      background: none;
      border: none;
      font-family: 'JetBrains Mono';
      font-size: 1rem;
      outline: none;
    }
  }
  .btn {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    font-family: 'JetBrains Mono';
    font-size: 1rem;
    color: #525af1;
  }
  .highlight {
    color: #525af1;
    text-decoration: none;
  }
}

.portfolio {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;

  @media (max-width: 768px) {
    width: 100%;
  }

  .home, .computer-skills, .work-experience {
    a {
      color: #4249d8;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
        color: #4249d8;
      }
    }

    h3 {
      color: #4249d8;
      font-size: 1.35rem;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    p {
      margin-top: 0px;
      margin-bottom: 3px;
    }
  }
}